service: group-2
plugins:
  - serverless-python-requirements
  - serverless-iam-roles-per-function

provider:
  name: aws
  stage: dev
  region: eu-west-1

package:
  individually: true

functions:
  Team-2-Extract-Lambda:
    runtime: python3.8
    handler: lambda_function.lambda_handler
    module: extract
    # functions:
    # destinations:
    #   onSuccess: arn:aws:sqs:eu-west-1:579154747729:Team2extracttotranform
    iamRoleStatements:
      - Effect: 'Allow'
        Action:
          - sqs:SendMessage
          - sqs:GetQueueUrl
          - sqs:GetQueueAttributes
        Resource: !GetAtt Team2extracttotranform.Arn
      - Effect: 'Allow'
        Action:
          - s3:Get*
          - s3:List*
        Resource:
          - arn:aws:s3:::cafe-transactions-group-2
          - arn:aws:s3:::cafe-transactions-group-2/*
    events:
      - s3:
        bucket: cafe-transactions-group-2
        events: s3:ObjectCreated:*
        rules:
          - suffix: .csv
        existing: true

  Team2-Transform-Lambda:
    runtime: python3.8
    handler: lambda_function.lambda_handler
    module: transform
    events:
      - sqs: arn:aws:sqs:eu-west-1:579154747729:Team2extracttotranform
    # destinations:
    #   onSuccess: arn:aws:sqs:eu-west-1:579154747729:Team2tranformtoload
    iamRoleStatements: # IAM role statements so that services can be accessed in the AWS account
      - Effect: 'Allow'
        Action:
          - sqs:ReceiveMessage
          - sqs:DeleteMessage
          - sqs:SendMessage
          - sqs:GetQueueUrl
          - sqs:GetQueueAttributes
        Resource: !GetAtt Team2tranformtoload.Arn

  Team-2-Load-Lambda:
    runtime: python3.8
    handler: handler.lambda_handler
    module: load
    events:
      - sqs: arn:aws:sqs:eu-west-1:579154747729:Team2tranformtoload
    enviroment:
      DB_CLUSTER: 'bir1-cluster'
      DB_HOST: '10.0.1.223' 
      DB_NAME: 'dev' 
      DB_PORT: '5439'
      DB_USER: 'awsuser'

resources:
  Resources:
    Team2extracttotranform:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: Team2extracttotranform

    Team2tranformtoload:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: Team2tranformtoload

    # cafe-transactions-group-2:
    #   Type: "AWS::S3::Bucket"
    #   Properties:
    #      BucketName: cafe-transactions-group-2

    # ExtractDestination:
    #   Type: "AWS::Lambda::EventInvokeConfig"
    #   Properties:
    #     FunctionName: !Ref ExtractLambdaFunction
    #     DestinationConfig:
    #       OnSuccess:
    #         Destination: !GetAtt Team2extracttotranform.Arn
    #     Qualifier: "$LATEST"
    
    # TransformDestination:
    #   Type: "AWS::Lambda::EventInvokeConfig"
    #   Properties:
    #     FunctionName: !Ref TransformLambdaFunction
    #     DestinationConfig:
    #       OnSuccess:
    #         Destination: !GetAtt Team2tranformtoload.Arn
    #     Qualifier: "$LATEST"