service: group-2
plugins:
  - serverless-python-requirements

provider:
  name: aws
  stage: dev
  region: eu-west-1

package:
  individually: true

functions:
    Team-2-Extract-Lambda:
      runtime: python3.8
      handler: lambda_function.lambda_handler
      module: extract
      events:
        - s3:
          bucket: cafe-transactions-group-2
          event: s3:ObjectCreated:Put
          rules:
            - suffix: .csv
          existing: true
      iamRoleStatements:
        - Effect: 'Allow'
          Action:
            - lambda:InvokeFunction
          Resource: !GetAtt Team2-extract-to-tranform.Arn
        - Effect: 'Allow'
          Action:
            - s3:Get*
            - s3:List*
          Resource:
            - arn:aws:s3:::cafe-transactions-group-2
            - arn:aws:s3:::cafe-transactions-group-2/*
      destinations:
        onSuccess: arn:aws:sqs:eu-west-1:579154747729:Team2-extract-to-tranform

    
    Team2-Transform-Lambda2:
      runtime: python3.8
      handler: lambda_function.lambda_handler
      module: transform
      events:
        - sqs: arn:aws:sqs:eu-west-1:579154747729:Team2-extract-to-tranform
      destinations:
        onSuccess: arn:aws:sqs:eu-west-1:579154747729:Team2-New-Transform-To-Load
      iamRoleStatements: # IAM role statements so that services can be accessed in the AWS account
        - Effect: 'Allow'
          Action:
            - sqs:ReceiveMessage
            - sqs:SendMessage
            # - sqs:GetQueueUrl
          Resource: !GetAtt Team2-New-Transform-To-Load.Arn


    Team-2-Load-Lambda2:
      runtime: python3.8
      handler: handler.lambda_handler
      module: load
      events:
        - sqs: arn:aws:sqs:eu-west-1:579154747729:Team2-New-Transform-To-Load
      enviroment:
        DB_CLUSTER: 'bir1-cluster'
        DB_HOST: '10.0.1.223' 
        DB_NAME: 'dev' 
        DB_PORT: '5439' 
        DB_USER: 'awsuser'