service: team-2

plugins:
  - serverless-python-requirements
  - serverless-iam-roles-per-function

provider:
  name: aws
  stage: dev
  region: eu-west-1

package:
  individually: true

functions:
  # Team-2-Extract:
  #   runtime: python3.8
  #   handler: lambda_function.lambda_handler
  #   module: extract
  #   include:
  #     - extract
  #   events:
  #     - s3:
  #         bucket: cafe-transactions-group-2
  #         event: s3:ObjectCreated:Put
  #         rules:
  #           - suffix: .csv
  #         existing: true
  #   iamRoleStatements:
  #     - Effect: 'Allow'
  #       Action:
  #         - sqs:SendMessage
  #       Resource: !GetAtt Team2extracttotransform.Arn
  #     - Effect: 'Allow'
  #       Action:
  #         - s3:GetObject
  #         - s3:ListBucket
  #       Resource:
  #         - arn:aws:s3:::cafe-transactions-group-2
  #         - arn:aws:s3:::cafe-transactions-group-2/*

  # Team2-Transform:
  #   runtime: python3.8
  #   handler: lambda_function.lambda_handler
  #   module: transform
  #   include:
  #     - transform
  #   events:
  #     - sqs: arn:aws:sqs:eu-west-1:579154747729:Team2extracttotransform
  #   iamRoleStatements: 
  #     - Effect: 'Allow'
  #       Action:
  #         - sqs:ReceiveMessage
  #       Resource: !GetAtt Team2extracttotransform.Arn
  #     - Effect: 'Allow'
  #       Action:
  #         - sqs:SendMessage
  #       Resource: !GetAtt Team2transformtoload.Arn

  Team-2-Load-Lambda:
    runtime: python3.8
    handler: handler.lambda_handler
    module: load
    events:
      - sqs: arn:aws:sqs:eu-west-1:579154747729:Team2transformtoload
    iamRoleStatements: 
      - Effect: 'Allow'
        Action:
          - sqs:ReceiveMessage
        Resource: !GetAtt Team2transformtoload.Arn
    enviroment:
      DB_CLUSTER: 'bir1-cluster'
      DB_HOST: '10.0.1.223' 
      DB_NAME: 'dev' 
      DB_PORT: '5439'
      DB_USER: 'awsuser'

resources:
  Resources:
    Team2extracttotransform:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: Team2extracttotransform
        

    Team2transformtoload:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: Team2transformtoload

    # ExtractDestination:
    #   Type: "AWS::Lambda::EventInvokeConfig"
    #   Properties:
    #     FunctionName: !Ref TeamDash2DashExtractDashLambdaFunction
    #     DestinationConfig:
    #       OnSuccess:
    #         Destination: !GetAtt Team2extracttotranform.Arn
    #     Qualifier: "$LATEST"
    
    # TransformDestination:
    #   Type: "AWS::Lambda::EventInvokeConfig"
    #   Properties:
    #     FunctionName: !Ref Team2DashTransformDashLambdaFunction
    #     DestinationConfig:
    #       OnSuccess:
    #         Destination: !GetAtt Team2tranformtoload.Arn
    #     Qualifier: "$LATEST"