service: group-2
plugins:
  - serverless-python-requirements
  - serverless-iam-roles-per-function

provider:
  name: aws
  stage: dev
  region: eu-west-1
  role: arn:aws:iam::579154747729:role/service-role/Bir-Team-2-role-ix1m4cpx

package:
  individually: true

functions:
    Team-2-Extract-Lambda:
      runtime: python3.8
      handler: lambda_function.lambda_handler
      module: extract
      # functions:
      
      # iamRoleStatements:
      #   - Effect: 'Allow'
      #     Action:
      #       - sqs:SendMessage
      #     Resource: !GetAtt Team2extracttotranform.Arn
      #   - Effect: 'Allow'
      #     Action:
      #       - s3:Get*
      #       - s3:List*
      #     Resource:
      #       - arn:aws:s3:::cafe-transactions-group-2
      #       - arn:aws:s3:::cafe-transactions-group-2/*
      events:
        - s3:
          bucket: cafe-transactions-group-2
          event: s3:ObjectCreated:Put
          rules:
            - suffix: .csv
          existing: true
      destinations:
        onSuccess: arn:aws:sqs:eu-west-1:579154747729:Team2extracttotranform

    Team2-Transform-Lambda:
      runtime: python3.8
      handler: lambda_function.lambda_handler
      module: transform
      events:
        - sqs: arn:aws:sqs:eu-west-1:579154747729:Team2tranformtoload
      destinations:
        onSuccess: arn:aws:sqs:eu-west-1:579154747729:Team2tranformtoload
      # iamRoleStatements: # IAM role statements so that services can be accessed in the AWS account
      #   - Effect: 'Allow'
      #     Action:
      #       - sqs:ReceiveMessage
      #       - sqs:SendMessage
      #       # - sqs:GetQueueUrl
      #     Resource: !GetAtt Team2tranformtoload.Arn


    Team-2-Load-Lambda:
      runtime: python3.8
      handler: handler.lambda_handler
      module: load
      events:
        - sqs: arn:aws:sqs:eu-west-1:579154747729:Team2tranformtoload
      enviroment:
        DB_CLUSTER: 'bir1-cluster'
        DB_HOST: '10.0.1.223' 
        DB_NAME: 'dev' 
        DB_PORT: '5439' 
        DB_USER: 'awsuser'

resources:
  Resources:
    Team2extracttotranform:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: Team2extracttotranform

    Team2tranformtoload:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: Team2tranformtoload