service: group-2
plugins:
  - serverless-python-requirements

provider:
  name: aws
  stage: dev
  region: eu-west-1

package:
  individually: true

functions:
    Team-2-Extract-Lambda:
      runtime: python3.8
      handler: lambda_function.lambda_handler
      module: extract
      events:
        - s3:
          bucket: cafe-transactions-group-2
          event: s3:ObjectCreated:*
          rules:
            - prefix: uploads/
            - suffix: .csv
          existing: true
      destinations:
        onSuccess: arn:aws:sqs:eu-west-1:579154747729:Team2-extract-to-tranform
    
    Team2-Transform-Lambda:
      runtime: python3.8
      handler: lambda_function.lambda_handler
      module: transform
      events:
        - sqs: arn:aws:sqs:eu-west-1:579154747729:Team2-extract-to-tranform
      destinations:
        onSuccess: arn:aws:sqs:eu-west-1:579154747729:Team2-New-Transform-To-Load

    Team-2-Load-Lambda:
      runtime: python3.8
      handler: handler.lambda_handler
      module: load
      events:
        - sqs: arn:aws:sqs:eu-west-1:579154747729:Team2-New-Transform-To-Load